@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
     font-family: "Roboto", sans-serif;
}
header{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 2px;
    border-bottom: 1px solid rgb(199, 196, 196);
    position:fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
}
header h3 {
    letter-spacing: 4px;
    font-size: 25px;
    color: rgb(236, 69, 8);
    text-decoration:underline;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>div:first-child{
    margin-left: 40px;
}
header>div:last-child{
    margin-right: 80px;
}

.nav-menu a{
    text-decoration: none;
    cursor: pointer;
    color: gray;
    font-size:large;
    margin-right: 15px;
}
.nav-menu a:hover{
    border: 1px solid black;
    color: rgb(199, 144, 124);
    
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: space-around; 

}

main div{
    text-align: start;
}

.image-container{
    max-width: 400px;
    max-height: 300px;

}

.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 20px 20px 70px coral;
    background-color: coral;
    animation: imageanimation 3s infinite alternate;
}

p strong {
    margin-top: 2px;
    font-weight: 700;
    font-size: 80px;
}

h1{
    margin-top: 12px;
     font-weight: 900;
    word-spacing: 2px;
    
}

h1 span{
    margin-top: 12px;
    color: rgb(205, 78, 32);
}
.main-paragraph{
    margin-top: 12px;
    max-width: 500px;
    word-spacing: 2px;
    line-height: 25px;
    
}

button{
    margin-top: 12px;
    border: none;
    padding: 5px 25px;
    border: 2px coral solid;
    background-color: whitesmoke;
    box-shadow: 4px 4px 10px gray;
    font-size: 20px;
    font-weight: 700;
    color: black;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    border: 2px coral solid;
    background-color: rgb(229, 143, 111);
    transform: scale(1.1);
}

.home-line{
    max-width: 900px;
    margin: auto;
}
/* About me secrion  */

.outer-about{
margin-top: 30px;
 min-height: 450px;
 width: 100%;

}
.About-me-section{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}

.heading h2{
    font-size: 150px;
    color: rgb(207, 83, 37);
    text-shadow : 25px 40px 40px coral;;
}
.About-me-section .content{
    max-width: 500px;
}
.content p{
   font-size: 20px;
   line-height: 29px;
   word-spacing: 3px;
}

.line{
    width: 5px;
    height: 400px;
    background-color: coral;
}


/* qualification section  */ 
.qualification-section{
    width: 100%;
    margin-top: 20px;
}
.heading-qualification{
    text-align: center;
   font-size: 40px;
   color: rgb(227, 97, 50);
} 

/* qualification content  */

.Qualification-container{
    padding-bottom: 90px;
    margin-top: 30px;
}

.std{
    margin: 0 auto;
    border-radius: 100px;
    margin-top: 10px;
    padding: 7px 5px;
    text-align: center;
    max-width: 900px;
    background-color: rgb(209, 182, 171);
}
.std i{
   
    font-size: 30px;
    color: rgb(179, 68, 28);
}
.std .th{
     margin-top: 5px;
    color: gray;
    font-weight: 500;

}
.std:hover{
   border: 2px rgb(151, 51, 15) solid;
}
.mark{
    margin-top: 15px;
}
.std p{
     margin-top: 5px;
    color: #481b0a;
    font-weight: 700;
    
}
.school-name{
    margin-top: 5px;
    color: white;
    font-size: 20px;
}

.std p span{
    color: rgb(164, 41, 41);
    display: inline-block;
    background-color: antiquewhite;
    padding: 3px 6px;
    border-radius: 15px;
}


/* project section */

.project-section{
   width: 100%; 
   margin-top: 20px;
}
/* 
.outer-div-project{
    
} */
.project-section h3{
    margin-bottom: 23px;
}
.project-containter {
    max-width: 90%;
    padding: 50px 10px;
    background-color: bisque;
    justify-content:space-evenly;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 16px;

 }
 .project-item{
    background-color: rgb(219, 133, 67);
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    height: 300px;
    width: 400px;
    position: relative;
 }
 /* Hide text initially */
.project-open-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 2;
}
 /* Dark overlay effect */
.project-item::after{
    content: "";
    pointer-events: none;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.4s ease;
}
/* Hover Effect */
.project-item:hover::after{
    opacity: 1;
}

.project-item:hover .project-open-text{
    opacity: 1;
}
 .project-item img{
     height: 100%;
     width: 100%;
     object-fit: contain;
     transition: 0.4s ease;
 }
 .project-item h3{
    margin-top: 7px;
    color: rgb(97, 86, 86);
 }


 /* connect with me section  */
.connect-section{
    margin-top: 25px;
}
 .connect-content{
    max-width: 600px;
    margin: auto;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
 }
 .connect-content .text{
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 5px;
 }
.connection-input{
    display: flex;
    gap: 10px;
}

.connection-input input{
    padding: 5px 7px;
    font-size:small;
    border-radius: 5px;
    border: 2px coral solid;
    background: transparent;
    font-weight: 700;
    color: rgb(48, 42, 42);
    outline: none; 
    flex: 1;
}

.text-area-message{
    width: 100%;
    padding: 5px 7px;
    font-size:small;
    font-weight: 700;
    border: 2px coral solid;
    border-radius: 5px;
    background: transparent;
    color: rgb(42, 39, 39);
    margin-right: 15px;
    outline: none; 
}

/* footer section  */
footer{
        background-color:#481b0a;
}
.footer-div{

    text-align: center;
    max-width: 300px;
    margin: auto ;
}

footer div h4{
    margin-top: 5px;
    color: gray;
}
footer div i{
    margin-top: 10px;
    cursor: pointer;
    font-size: 26px ;

}
.fa-instagram{
    
    color: rgb(228, 13, 13);
}
.fa-facebook{
    
    margin-left: 15px;
    color: rgb(96, 96, 199);
}
.fa-linkedin{
    
    margin-left: 15px;
    color: rgb(76, 76, 220);
}

footer div i:hover{
    transform: scale(1.2);
}
footer p{
    margin-top: 15px;
    color: gray;
}
footer p span{
    color: rgb(78, 78, 133);
    text-decoration: underline;
    cursor: pointer;
    
}
/* responsive content  */

@media (max-width:777px) {
    .nav-menu{
        display: none;
    }
    .image-container{
        max-height: 250px;
        
    }
    .image-container img{
        padding: 0;
        border-radius: 20%;
        box-shadow: 20px 20px 70px coral;
    }
    main{
        
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    p strong{
        font-size: 50px;
    }
    h1{
        font-size: 30px;
    }
    .main-paragraph{
        max-width: 260px;
    }

    .About-me-section{
        flex-direction: column;
        gap: 20px;
    }
    .content p{
        font-size: 17px;
    }
    .line{
        height: 5px;
        width: 300px;
    }
    .heading h2{
        font-size: 40px;
    }
    .std{
        border-radius: 10px;
        
    }
    .Qualification-container{
        padding: 0 15px;
    }
    .project-containter{
        flex-direction: column;
        gap: 25px;
    }
    .project-containter{
       padding: 0px; 
    }
    .project-item{
        height: 200px;
        width: 300px;
    }
    .project-item1{
        display: none;
    }
    
}


/* animation code  */
@keyframes imageanimation {
    from { transform: scale(1.1); }
    to   { transform: scale(1); }
}